body{
    font-family: 'Open Sans Condensed', sans-serif;
}
ul li{
    display: inline !important; 
}
.fab2{
    color: #ffffff;
}
.fab1{
    color: #ffffff;
    padding: 500px 0;
    flex: 0 1 auto;
    align-self: auto;
}
.fas{
    color: #ffffff;
}

.margint{
    margin-top: 50px;
    
}
.marginb{
    margin-bottom: 50px;
}
.bg-img{
    width: 100%;
    height: auto;
}
.centered{
    background-image: url('img/jane.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
.card-bg{
    background-color: black;
    color: #ffffff;
}
.post-thumb{
    max-width: 50px;
    max-height: 50px;
}
.titolo{
    text-align: center;
    font-weight: bold;
}