body{
    font-family: 'Open Sans Condensed', sans-serif;
}
ul li{
    display: inline !important; 
}
.fab{
    color: #ffffff;
}
.fab1{
    color: #ffffff;
    padding: 500px 0;
    flex: 0 1 auto;
    align-self: auto;
}
.fas{
    color: #ffffff;
}
.title{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}
.margint{
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}
.marginb{
    margin-bottom: 50px;
}
.bg-img{
    width: 100%;
    height: auto;
}
.centered{
    background-image: url('img/jane.jpg');
    background-repeat: no-repeat;

}
.card-bg{
    background-color: black;
    color: #ffffff;
}
.post-thumb{
    max-width: 80px;
    max-height: 80px;
}