body{
    font-family: 'Open Sans', monospace;
}
ul li{
    display: inline !important; 
}
.fab{
    color: #ffffff;
}
.fas{
    color: #ffffff;
}
.search{
    
    
}
.title{
    font-weight: bold;
    text-align: center;
    
}
.margint{
    margin-top: 50px;
}
.marginb{
    margin-bottom: 50px;
}
.bg-img{
    
    background-size: cover;
}